@CHARSET "ISO-8859-1";

body {
	background-image:url(../img/Background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed; 
    background-size: cover;
    font-size:100%;
    position:absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#mainTitle{
	position:absolute;
	margin-top:0.2%;
	margin-left:43.5%;
	color:white;
	font-family:"Blackadder ITC", "Arial", cursive, sans-serif;
	font-style:italic;
	font-size:4em;
}

.jumbotron{
	margin-top:2%;
	margin-right:10%;
	margin-left:10%;
	padding-top:2%;
	padding-left:10%;
	padding-right:10%;
	border-radius:10px;
	background-color:grey;
}

#adjustNavBar{
	width:97%;
	margin-left:auto;
	margin-right:auto;
}

a{
	width:100%;
	text-align:center;
	font-family:"Arial", cursive, sans-serif;
	font-size:2em;
	font-weight:bold;
}

li{
	width:100%;
}

.inline{
	width:100%;
}

#backGlyphicon{
	position:absolute;
	margin-top:4%;
	padding-left:0.3%;
	padding-right:0.3%;
	padding-top:0.1%;
	padding-bottom:0.1%;
	background-color:rgb(44,44,44);
	border-radius:10%;
	font-size: 2.35em;
	margin-left:-6.5%;
	color:rgb(239,63,80);
	-webkit-transform:scale(1.5, 1.1);
	-moz-transform:scale(1.5, 1.1);
	-ms-transform:scale(1.5, 1.1);
	-o-transform:scale(1.5, 1.1);
	transform:scale(1.5, 1.1);
}

#inputSearcher{
	display: inline-block;
	margin-top: 3%;
	margin-left: 8%;
	background-color: white;
	font-family: "Arial", cursive, sans-serif;
	font-weight:bold;
}

#searchGlyphicon{
	position: absolute;
	margin-top: 5%;
	margin-left: 12%;
	font-size: 2.5em;
	color: black;
	opacity:0.5;
}

.adjustWell{
	padding-bottom:1%;
}

.title{
	display: block;
	float:left;
	margin-top: -1%;
	font-size: 3em;
	font-weight: bold;
}

.likes{
	display: block;
	position: relative;
	float: right;
	margin-right: 31%;
	margin-top: 0.3%;
	font-style: italic;
	font-size: 2em;
}

.adjustButtonFollowing{
	display: block;
	float: right;
	margin-right: 7%;
	background-color: rgb(65, 150, 65);
	color: white;
	font-weight: bold;
	cursor: default;
}

.adjustButtonFollowing:hover{
	color: white;
}

.adjustButtonFollowingRequest{
	display: block;
	float: right;
	font-weight: bold;
}

.hyde{
	visibility: hidden;
	margin-top: -1%;
	font-size: 3em;
	font-weight: bold;
}



	


